<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Users</title>
  </head>
  <body>

    <h1>Users</h1>

    {% if users %}
      <table class="table">
        <thead class="thead-dark">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </thead>
        {% for user in users %}
          <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
            <td> {{ user.user_email }} </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
    <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}

    <a href="{% url 'my_users_app:index' %}"> <h3>Back to main Users</h3> </a>

  </body>
</html>
