<!DOCTYPE html>
{% extends "my_users_app/base.html" %}
  {% block body_block %}

    <h1>Users</h1>

    {% if users %}
      <table class="table">
        <thead class="thead-dark">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </thead>
        {% for user in users %}
          <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
            <td> {{ user.user_email }} </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
    <h3>NO ACCESS RECORDS FOUND!</h3>
    {% endif %}

    <a href="{% url 'my_users_app:index' %}"> <h3>Back to main Users</h3> </a>

  {% endblock %}
