<!DOCTYPE html>
{% extends "my_first_app/base.html" %}
  {% block body_block %}

    <h1>Access Record</h1>
    {% if access_record %}
      <table class="table">
        <thead class="thead-dark">
          <th>Name</th>
          <th>Date</th>
        </thead>
        {% for acc in access_record %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}

    <a href="{% url 'my_first_app:index' %}"> <h3>Back to main page</h3> </a>
    <a href="../../help_app/"> <h3>HELP!</h3> </a>

  {% endblock %}
